# Kairos Data API (data.kairos.trade) — OpenAPI 3.1 specification.
# Canonical source of truth for this service's public API reference.
#
# Consumers: services/web/scripts/build-openapi.ts publishes it (and the
# other specs in docs/api/) as /openapi/* static assets; the unified docs
# reference at /docs/api-reference renders it with live try-it panels.
#
# When you change this service's public surface, update this file in the
# same PR. Extensions the reference UI renders: x-kairos-auth
# (public | api-key | session), x-kairos-rate-limit, x-kairos-scope.
openapi: 3.1.0
info:
  title: Kairos Data API
  version: 1.0.0
  summary: The full Kairos data plane — markets, candles, trades, search, discover, sports, trader analytics,
    and PnL.
  description: |
    The Kairos Data API at `data.kairos.trade` is the platform's primary data
    plane: market metadata and prices, OHLCV candles, live venue trade proxies,
    normalized trade history, full-text search, discovery feeds, the sports
    catalog, public trader analytics, and account PnL.

    ## Authentication

    Most endpoints accept a Kairos **API key** (`X-Client-Id` + `X-Api-Key` +
    `X-Api-Secret`, all three) or a first-party session JWT. Endpoints tagged
    `public` (trader analytics, provider configs, several sports feeds) need
    no credentials at all. Some endpoints additionally require an API-key
    **scope** (`trade:read`, `position:read`) — stated per operation.

    For high-volume market-data consumption (candles/trades/metadata at
    scale), prefer the dedicated **Market Data API** at `md.kairos.trade` —
    it has higher budgets, ETag caching, and a binary candle format.

    ## Rate limits

    Rate limits use a sliding window keyed on the authenticated user (JWT
    `sub`) or, for anonymous callers, the trusted client IP. Routes belong to
    a named **bucket** (`x-kairos-bucket`) whose per-minute budget is shared
    by every route in it; routes with no bucket run under the service default
    of 100/minute. `x-kairos-rate-limit` states the bucket's compile-time
    default — operators can raise or lower a bucket at runtime, so treat the
    documented number as the baseline, not a contract. 429 responses carry
    `Retry-After` and `X-RateLimit-*`.

    ## Conventions

    - Prices are on the **0–100 cents scale** unless a field says otherwise
      (trader-analytics position/trade prices use the 0–1 scale; each field's
      description states its scale).
    - Errors: `{"detail": "<message>"}` for handler errors; FastAPI's
      standard validation envelope for 422s. Errors surfaced from a venue
      adapter instead use `{"error", "provider", "operation", "message"}` —
      see `DataProviderError`. Unhandled failures always return the generic
      500 body; internal details are logged, never returned.
    - Every request body is capped at 8 MiB service-wide (413).
  contact:
    name: Kairos
    url: https://app.kairos.trade/docs/api-reference
  termsOfService: https://kairos.trade/terms
servers:
- url: https://data.kairos.trade
  description: Production
- url: https://staging-data.kairos.trade
  description: Staging
security:
- apiKeyClientId: []
  apiKeyKey: []
  apiKeySecret: []
components:
  securitySchemes:
    apiKeyClientId:
      type: apiKey
      in: header
      name: X-Client-Id
      description: Credential client id (`kairos_ck_...`). Must be sent together with X-Api-Key and X-Api-Secret.
    apiKeyKey:
      type: apiKey
      in: header
      name: X-Api-Key
      description: 64-char hex API key.
    apiKeySecret:
      type: apiKey
      in: header
      name: X-Api-Secret
      description: 64-char hex API secret.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: First-party Kairos session JWT (web app sessions). Not issued to API consumers.
  schemas:
    DataError:
      type: object
      description: Handler error envelope (FastAPI HTTPException).
      required:
      - detail
      properties:
        detail:
          type: string
          description: Human-readable error message.
          example: Invalid provider
    DataProviderError:
      type: object
      description: |
        Adapter-layer error envelope. Returned instead of `DataError` whenever the failure comes from
        a venue adapter rather than the handler: 400 (validation), 401 (venue auth), 404 (not found),
        429 (venue rate limit), 502 (provider/parse error), 503 (connection error or open circuit).
      required:
      - error
      - message
      properties:
        error:
          type: string
          description: Machine-readable class of failure.
          enum:
          - validation_error
          - authentication_failed
          - not_found
          - rate_limit_exceeded
          - provider_error
          - parse_error
          - service_unavailable
        provider:
          type:
          - string
          - 'null'
          description: Venue the adapter was talking to.
          example: kalshi
        operation:
          type:
          - string
          - 'null'
          description: Adapter operation that failed.
        message:
          type: string
          description: Human-readable error message.
    MarketsActivePageResponse:
      type: object
      description: One page of the active-market listing for a provider, with `provider`/`source`
        stamped on by the API.
      required:
      - exchange_id
      - markets
      - count
      - next_cursor
      - has_more
      - provider
      - source
      properties:
        exchange_id:
          type: string
          description: Lower-cased exchange id the market is listed under.
          example: polymarket
        markets:
          type: array
          items:
            $ref: '#/components/schemas/MarketsActiveMarket'
        count:
          type: integer
          description: Number of markets in this page (`markets.length`).
          example: 100
        next_cursor:
          type:
          - string
          - 'null'
          description: Opaque cursor for the next page, or null if this is the last page.
        has_more:
          type: boolean
        provider:
          type: string
          description: Echo of the validated/lowercased `provider` query param.
          example: polymarket
        source:
          type: string
          description: >-
            Opaque internal origin marker. NOT a stable part of the contract —
            its value may change without notice; do not depend on or switch on it.
    MarketsActiveMarket:
      type: object
      description: One market's cached metadata, including its full upstream `raw`
        payload.
      properties:
        exchange_id:
          type: string
        market_id:
          type: string
        condition_id:
          type: string
        event_id:
          type: string
        title:
          type: string
        neg_risk:
          type: boolean
        tick_size:
          type:
          - number
          - 'null'
        taker_base_fee_bps:
          type:
          - integer
          - 'null'
        fees_enabled:
          type:
          - boolean
          - 'null'
        category:
          type:
          - string
          - 'null'
        group_slug:
          type:
          - string
          - 'null'
        fee_type:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        image:
          type:
          - string
          - 'null'
        icon:
          type:
          - string
          - 'null'
        end_date:
          type:
          - string
          - 'null'
        open_time:
          type:
          - string
          - 'null'
        outcomes:
          type: array
          items:
            $ref: '#/components/schemas/MarketsActiveMarketOutcome'
        raw:
          type: object
          additionalProperties: true
          description: Full upstream provider payload as last captured.
        resolution_status:
          type: string
          description: Present only once the market has a resolution status recorded.
        payout_numerators:
          type: array
          items:
            type: integer
          description: Present only once CTF payout numerators are known.
        resolved_ts:
          type: string
        proposed_price:
          type: number
        challenge_window_ends_at:
          type: string
    MarketsActiveMarketOutcome:
      type: object
      properties:
        outcome:
          type: string
          example: 'Yes'
        normalized_outcome:
          type: string
          example: 'yes'
        token_id:
          type: string
        outcome_index:
          type: integer
          description: Present only for exchanges keyed by market_id, index < 2.
        side:
          type: string
          enum:
          - true
          - 'no'
          description: Present only for exchanges keyed by market_id, index < 2.
    MarketsDetailsRequest:
      type: object
      required:
      - markets
      properties:
        markets:
          type: array
          items:
            $ref: '#/components/schemas/MarketsDetailsRequestItem'
    MarketsDetailsRequestItem:
      type: object
      required:
      - market_id
      - provider_id
      properties:
        market_id:
          type: string
          description: Matched against market_id OR condition_id OR token_id.
        provider_id:
          type: integer
    MarketsDetailsResponse:
      type: object
      required:
      - markets
      properties:
        markets:
          type: array
          items:
            $ref: '#/components/schemas/MarketsDetail'
    MarketsDetail:
      type: object
      required:
      - market_id
      - provider_id
      - event_id
      - name
      - category
      - status
      - condition_id
      - token_id
      - token_ids
      - outcomes
      properties:
        market_id:
          type: string
        provider_id:
          type: integer
        event_id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        category:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        condition_id:
          type:
          - string
          - 'null'
        token_id:
          type:
          - string
          - 'null'
        token_ids:
          type: array
          items:
            type: string
          description: Full provider token roster, aligned by index with outcomes.
        outcomes:
          type: array
          items:
            type: string
          description: Outcome labels aligned by index with token_ids.
    MarketsBatchPricesRequest:
      type: object
      required:
      - markets
      properties:
        markets:
          type: array
          maxItems: 300
          items:
            $ref: '#/components/schemas/MarketsBatchPricesRequestItem'
    MarketsBatchPricesRequestItem:
      type: object
      required:
      - market_id
      - provider_id
      properties:
        market_id:
          type: string
        provider_id:
          type: integer
    MarketsBatchPricesResponse:
      type: object
      description: Prices keyed by the requested market_id.
      additionalProperties:
        $ref: '#/components/schemas/MarketsPrice'
    MarketsPrice:
      type: object
      required:
      - price
      properties:
        price:
          type: number
          description: Current venue reference price. Scale is venue-dependent and is not normalized.
        volume:
          type:
          - string
          - 'null'
        liquidity:
          type:
          - number
          - 'null'
    MarketsTickSizeResponse:
      oneOf:
      - $ref: '#/components/schemas/MarketsTickSizeResolved'
      - $ref: '#/components/schemas/MarketsTickSizeUnsupported'
      description: A resolved tick grid (kalshi/polymarket) or predict.fun's explicit unsupported payload
        — distinguish by the presence of `ranges`/`supported`.
    MarketsTickSizeResolved:
      type: object
      required:
      - provider
      - contract_id
      - ranges
      - min_tick
      - source
      - synthetic
      properties:
        provider:
          type: string
          enum:
          - kalshi
          - polymarket
        contract_id:
          type: string
        asset_id:
          type:
          - string
          - 'null'
          description: Echoed back only for polymarket; null for kalshi.
        ranges:
          type: array
          items:
            $ref: '#/components/schemas/MarketsTickRange'
          description: Polymarket always has exactly one range covering [0,1]; Kalshi may have several
            tapered ranges.
        min_tick:
          type: string
          description: Decimal string — the finest step across all ranges.
          example: '0.01'
        source:
          type: string
          enum:
          - metadata_cache
          - polymarket_clob
          - kalshi_price_ranges
          - kalshi_tick_size_deprecated
        synthetic:
          type: boolean
          description: True only for the deprecated Kalshi flat-tick_size fallback (price_ranges absent).
        price_level_structure:
          type:
          - string
          - 'null'
          description: Kalshi's raw price_level_structure field, when present. Always null for polymarket.
    MarketsTickRange:
      type: object
      properties:
        start:
          type: string
          example: '0'
        end:
          type: string
          example: '1'
        step:
          type: string
          example: '0.001'
    MarketsTickSizeUnsupported:
      type: object
      required:
      - provider
      - contract_id
      - supported
      - reason
      properties:
        provider:
          type: string
          enum:
          - predictfun
        contract_id:
          type: string
        supported:
          type: boolean
          enum:
          - false
        reason:
          type: string
          example: predict.fun exposes no per-market tick endpoint or tick change event; treat its tick
            as static/default. See docs/exchange-docs.
    MarketsMetadataResponse:
      type: object
      required:
      - ticker
      - provider
      - name
      - description
      - resolution_rules
      - contract
      - images
      - ctf_neg_risk
      - extra
      - active
      properties:
        ticker:
          type: string
        provider:
          type: string
        name:
          type: string
        description:
          type: string
        resolution_rules:
          $ref: '#/components/schemas/MarketsResolutionRules'
        contract:
          $ref: '#/components/schemas/MarketsContractInfo'
        images:
          $ref: '#/components/schemas/MarketsImages'
        external_url:
          type:
          - string
          - 'null'
        condition_id:
          type:
          - string
          - 'null'
          description: Only populated for some response paths; null when the response comes
            from a provider-API fallback.
        event_id:
          type:
          - string
          - 'null'
          description: Only populated for some response paths.
        ctf_neg_risk:
          type: boolean
          default: false
        extra:
          type: object
          additionalProperties: true
          description: |
            Raw upstream/provider payload, plus router-side enrichment: for polymarket, `clobRewards` ([{rewardsDailyRate}] or []), `rewardsMaxSpread`, `rewardsMinSize`; for predictfun, `rewards.current` (active reward-window object or null).
        active:
          type: boolean
          default: true
          description: False if the market is delisted/resolved and not tradable.
    MarketsResolutionRules:
      type: object
      required:
      - primary
      properties:
        primary:
          type: string
        secondary:
          type:
          - string
          - 'null'
        source:
          type:
          - string
          - 'null'
    MarketsContractInfo:
      type: object
      properties:
        tick_size:
          type:
          - number
          - 'null'
        min_price:
          type:
          - number
          - 'null'
        max_price:
          type:
          - number
          - 'null'
        lot_size:
          type:
          - number
          - 'null'
        quote_currency:
          type:
          - string
          - 'null'
        settlement_ts:
          type:
          - string
          - 'null'
          description: Only populated for some response paths; null otherwise.
        expires_at:
          type:
          - string
          - 'null'
    MarketsImages:
      type: object
      properties:
        icon:
          type:
          - string
          - 'null'
        banner:
          type:
          - string
          - 'null'
    MarketsBatchMetadataRequest:
      type: object
      required:
      - contracts
      properties:
        contracts:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/MarketsBatchMetadataRequestItem'
        titles_only:
          type: boolean
          default: false
          description: When true, skips the API fallback, category inference, and tag-icon enrichment
            passes — returns whatever was already cached directly.
    MarketsBatchMetadataRequestItem:
      type: object
      required:
      - ticker
      - provider
      properties:
        ticker:
          type: string
        provider:
          type: string
    MarketsBatchMetadataResponse:
      type: object
      description: Metadata items keyed by the requested ticker.
      additionalProperties:
        $ref: '#/components/schemas/MarketsBatchMetadataItem'
    MarketsBatchMetadataItem:
      type: object
      required:
      - ticker
      - found
      properties:
        ticker:
          type: string
        found:
          type: boolean
        title:
          type:
          - string
          - 'null'
        event_title:
          type:
          - string
          - 'null'
        provider:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        image:
          type:
          - string
          - 'null'
        category:
          type:
          - string
          - 'null'
          description: May be backfilled by ticker-pattern/title-keyword inference or by a tag slug when
            the underlying record has none.
        end_date:
          type:
          - string
          - 'null'
        open_time:
          type:
          - string
          - 'null'
        tag_icon:
          type:
          - string
          - 'null'
          description: Highest-precedence active PlatformTag icon for this market.
        yes_sub_title:
          type:
          - string
          - 'null'
          description: Custom binary side label (e.g. Hyperliquid team names). Null falls back to "Yes"
            on the frontend.
        no_sub_title:
          type:
          - string
          - 'null'
        outcome_label:
          type:
          - string
          - 'null'
          description: Short sibling-differentiating label for multi-outcome events (Polymarket groupItemTitle
            / Kalshi yes_sub_title).
        resolved_outcome:
          type:
          - string
          - 'null'
          enum:
          - true
          - 'no'
          - void
          - null
          description: Winning side for already-resolved binary markets; null if unresolved or not surfaced
            by the provider.
        outcome_pair:
          type:
          - array
          - 'null'
          items:
            type: string
          description: The two real outcome labels for a non-Yes/No binary market (moneyline/spread/O-U),
            ordered to match outcome index 0/1.
    MarketsOutcomesResponse:
      type: object
      required:
      - event_title
      - outcomes
      - is_grouped
      - event_groups
      - event_titles
      properties:
        event_title:
          type:
          - string
          - 'null'
        image:
          type:
          - string
          - 'null'
        icon:
          type:
          - string
          - 'null'
        provider:
          type:
          - string
          - 'null'
        category:
          type:
          - string
          - 'null'
        outcomes:
          type: array
          items:
            $ref: '#/components/schemas/MarketsOutcomeItem'
        is_grouped:
          type: boolean
        matched_market_id:
          type:
          - string
          - 'null'
          description: The outcome entry that corresponds to the queried market_id, if found among the
            returned outcomes.
        event_groups:
          type: object
          additionalProperties:
            type: string
          description: Maps every requested id (market_id plus each all_ids entry, plus every sibling
            id discovered while resolving) to its event_id.
        event_titles:
          type: object
          additionalProperties:
            type: string
          description: Maps every event_id referenced in event_groups to its title.
    MarketsOutcomeItem:
      type: object
      properties:
        market_id:
          type: string
        title:
          type: string
        outcome_label:
          type: string
        price:
          type: number
          description: 0-1 decimal probability (stored cents / 100.0) — NOT the platform's usual 0-100
            cents scale.
          example: 0.62
        volume_total:
          type: number
        volume_24h:
          type: number
        volume_1h:
          type: number
        token_id:
          type:
          - string
          - 'null'
        condition_id:
          type:
          - string
          - 'null'
        image:
          type:
          - string
          - 'null'
          description: Only present when served from the discover cache, not from the direct
            upstream-provider fallback path.
        icon:
          type:
          - string
          - 'null'
        expiration:
          type:
          - string
          - 'null'
    MarketsCryptoResponse:
      type: object
      required:
      - markets
      - window_offset
      properties:
        markets:
          type: array
          items:
            $ref: '#/components/schemas/MarketsCryptoMarket'
        window_offset:
          type: integer
    MarketsCryptoMarket:
      type: object
      required:
      - symbol
      - name
      - market_id
      - provider_id
      - is_settled
      properties:
        symbol:
          type: string
          enum:
          - BTC
          - ETH
          - SOL
          - XRP
          - DOGE
          - HYPE
          - BNB
        name:
          type: string
          description: Human-readable market title (Kalshi titles get an appended open/close time range).
        market_id:
          type: string
          description: Kalshi ticker or Polymarket/predict.fun market id.
        token_id:
          type:
          - string
          - 'null'
          description: Polymarket/predict.fun CLOB token id (the "Yes" token where resolvable). Absent
            for Kalshi entries.
        provider_id:
          type: integer
        price:
          type:
          - number
          - 'null'
          description: 0-1 decimal probability (mid of best bid/ask, last trade, or settlement snap to
            0/1 for past windows) — NOT the platform's usual 0-100 cents scale. Null while a market has
            no orderbook yet.
          example: 0.47
        is_settled:
          type: boolean
          description: True for past windows and any market whose settlement/resolution was found; the
            price is then snapped to exactly 0.0 or 1.0.
        is_upcoming:
          type: boolean
          description: Only present on some current-window Kalshi entries — true if the market is in Kalshi's
            "initialized"/"unopened" pre-launch state.
        open_time:
          type:
          - string
          - 'null'
          description: Only present on some current-window Kalshi entries.
    MarketsOracleHistoryResponse:
      type: object
      description: Price-history points keyed by oracle symbol (btc-usd/eth-usd/sol-usd/xrp-usd), each
        array sorted ascending by timestamp.
      additionalProperties:
        type: array
        items:
          $ref: '#/components/schemas/MarketsOraclePricePoint'
    MarketsOraclePricePoint:
      type: object
      properties:
        price:
          type: number
          example: 97123.45
        timestamp:
          type: integer
          description: Epoch milliseconds.
    MarketsPtbResponse:
      type: object
      description: Keyed by window (1m/5m/15m/1h/4h/1d), each value keyed by symbol.
      additionalProperties:
        $ref: '#/components/schemas/MarketsPtbWindowValues'
    MarketsPtbWindowValues:
      type: object
      description: Keyed by oracle symbol (btc-usd/eth-usd/sol-usd/xrp-usd). A symbol is omitted entirely
        if no price could be resolved for this window.
      additionalProperties:
        $ref: '#/components/schemas/MarketsPtbValue'
    MarketsPtbValue:
      type: object
      required:
      - price
      - timestamp_ms
      - game_start_ms
      properties:
        price:
          type: number
          example: 97000.5
        timestamp_ms:
          type: integer
          description: Actual epoch-ms timestamp of the oracle sample used (may differ slightly from game_start_ms).
        game_start_ms:
          type: integer
          description: Epoch-ms start of the requested window (the "price to beat" anchor).
    MarketsEquitySnapshotResponse:
      type: object
      required:
      - prices
      - cached
      properties:
        prices:
          type: object
          description: Keyed by the requested (upper-cased) symbol. Either the full cache hit set or just
            the freshly-fetched subset — see `cached`.
          additionalProperties:
            $ref: '#/components/schemas/MarketsEquityPrice'
        cached:
          type: boolean
          description: True only if every requested symbol was already cached and `prices`
            is that full cached set. False means `prices` contains only symbols that had to
            be freshly fetched for this request.
    MarketsEquityPrice:
      type: object
      properties:
        symbol:
          type: string
          description: The internal (Kairos-side) symbol, which may differ from the upstream ticker.
          example: AAPL
        price:
          type: number
          example: 231.45
        previousClose:
          type:
          - number
          - 'null'
        currency:
          type: string
          default: USD
        marketState:
          type: string
          example: REGULAR
        timestamp:
          type: integer
          description: Epoch milliseconds of the quote (regularMarketTime * 1000).
    CandlesCandle:
      type: object
      description: One OHLCV bar. `token_id` is only present (never emitted as null) when the underlying
        series is keyed by an outcome token rather than a plain contract id.
      required:
      - contract_id
      - timeframe_seconds
      - bucket_start
      - open
      - high
      - low
      - close
      - volume
      properties:
        contract_id:
          type: string
          description: Contract/market identifier this bar belongs to.
          example: KXPRESPOLAND-24-DT
        timeframe_seconds:
          type: integer
          description: Bucket width in seconds.
          example: 60
        bucket_start:
          type: string
          format: date-time
          description: Bucket start time, ISO 8601 UTC.
          example: '2026-07-21T14:32:00+00:00'
        open:
          type: number
          description: Opening price, 0-100 cents scale.
          example: 63.5
        high:
          type: number
          description: High price in the bucket, 0-100 cents scale.
          example: 64.0
        low:
          type: number
          description: Low price in the bucket, 0-100 cents scale.
          example: 63.0
        close:
          type: number
          description: Closing price, 0-100 cents scale.
          example: 63.8
        volume:
          type: integer
          description: Traded size (contracts/shares) within the bucket.
          example: 1250
        token_id:
          type: string
          description: Outcome token identifier, present only when this series is token-scoped (e.g. multi-outcome
            Polymarket markets).
          example: '71321045679252212594626385532706912750332728571942532289631379312455583992563'
    CandlesSeriesResponse:
      type: object
      required:
      - candles
      properties:
        candles:
          type: array
          items:
            $ref: '#/components/schemas/CandlesCandle'
    CandlesBatchRequestItem:
      type: object
      required:
      - provider
      - contract_id
      - timeframe_seconds
      - start
      - end
      properties:
        provider:
          type: string
          example: kalshi
        contract_id:
          type: string
          maxLength: 128
          example: KXPRESPOLAND-24-DT
        timeframe_seconds:
          type: integer
          enum:
          - 1
          - 60
          - 300
          - 900
          - 3600
          - 14400
          - 86400
          example: 60
        start:
          type: string
          format: date-time
          example: '2026-07-21T00:00:00Z'
        end:
          type: string
          format: date-time
          example: '2026-07-22T00:00:00Z'
        outcome:
          type: integer
          minimum: 0
          default: 0
          description: Zero-based outcome index. Omitted/null defaults to 0; negative or non-integer values
            return 400.
        rebuild:
          type: boolean
          default: false
          description: Bypass the cache for this item and force a fresh fetch.
    CandlesBatchRequest:
      type: object
      required:
      - requests
      description: |
        `requests` is the primary field name; the router also accepts a legacy `items` key with the identical array shape as a fallback if `requests` is absent.
      properties:
        requests:
          type: array
          minItems: 1
          maxItems: 200
          items:
            $ref: '#/components/schemas/CandlesBatchRequestItem'
    CandlesBatchResultItem:
      type: object
      required:
      - index
      - candles
      properties:
        index:
          type: integer
          description: Position of this result, matching the index of the corresponding item in the request's
            `requests` array.
          example: 0
        candles:
          type: array
          items:
            $ref: '#/components/schemas/CandlesCandle'
        error:
          type: string
          description: Present only when this specific item failed while other items in the
            batch succeeded from cache. `candles` is `[]` in that case.
          example: Candle batch fetch failed
    CandlesBatchResponse:
      type: object
      required:
      - results
      properties:
        results:
          type: array
          description: Index-ordered, one entry per request item.
          items:
            $ref: '#/components/schemas/CandlesBatchResultItem'
    TradesMetrics:
      type: object
      description: |
        Aggregate volume/pressure metrics. Split by outcome (outcome_0 vs outcome_1), not by buy/sell direction — trade direction is not reliably derivable from every provider's exchange data.
      required:
      - volume_usd
      - outcome_0_volume_usd
      - outcome_1_volume_usd
      - outcome_0_pressure_pct
      - trade_count
      - window_seconds
      - coverage_pct
      - source
      - indexing
      properties:
        volume_usd:
          type: number
          description: Total notional volume in the window, in USD.
          example: 154320.55
        outcome_0_volume_usd:
          type: number
          description: Notional volume attributed to the first/primary outcome (e.g. "yes").
          example: 98210.1
        outcome_1_volume_usd:
          type: number
          description: Notional volume attributed to the second outcome (e.g. "no").
          example: 56110.45
        outcome_0_pressure_pct:
          type: number
          description: Share of total volume_usd attributed to outcome_0, as a percentage (0-100).
          example: 63.65
        trade_count:
          type: integer
          description: Number of trades included in the aggregation.
          example: 842
        window_seconds:
          type: integer
          description: Window width the metrics were computed over, in seconds.
          example: 86400
        coverage_pct:
          type: number
          description: Estimated data coverage for the window as a percentage (0-100); 100 for live upstream
            proxies (Kalshi/Polymarket) and for fully-ingested windows.
          example: 100.0
        source:
          type: string
          description: >-
            Opaque internal marker indicating how the response was produced.
            NOT a stable part of the contract — its value may change without
            notice; do not depend on or switch on it.
        indexing:
          type: boolean
          description: True if an ingestion/backfill job was triggered or is in progress for this window
            (only meaningful when the caller passed `trigger_ingest=true`); coverage may be incomplete
            when true.
          example: false
    TradesTrade:
      type: object
      description: |
        A single normalized trade, as returned by `/trades/history`. Includes legacy `yes_price`/`no_price`/`taker_side` fields derived from `price`/`outcome` for backward compatibility with older consumers.
      required:
      - trade_id
      - order_id
      - contract_id
      - size
      - price
      - outcome
      - timestamp
      - yes_price
      - no_price
      - taker_side
      properties:
        trade_id:
          type: string
          example: kalshi:KXPRESPOLAND-24-DT:9f2a1c
        order_id:
          type: string
          nullable: true
          description: Venue order identifier or hash shared by fills from the same order. Null when the
            source venue does not provide an order identifier. This is not a Kairos order UUID.
          example: 0x9f2a1c...7bd4
        contract_id:
          type: string
          example: KXPRESPOLAND-24-DT
        size:
          type: integer
          description: Traded size (contracts/shares).
          example: 50
        price:
          type: number
          description: Trade price of the traded outcome, 0-100 cents scale.
          example: 63.0
        outcome:
          type: string
          description: Outcome name/index the trade was executed against (e.g. "yes", "no", or a token-based
            outcome label).
          example: 'yes'
        timestamp:
          type: number
          description: Unix timestamp, seconds.
          example: 1753142400.0
        token_id:
          type: string
          description: Outcome token identifier, present only when applicable.
        metadata:
          type: string
          description: Provider-specific JSON blob serialized as a string, present only when available.
        taker_address:
          type: string
          description: Taker wallet address, present only for on-chain venues where it's known.
        maker_address:
          type: string
          description: Counterparty wallet/contract address; may be the canonical exchange contract on
            aggressor-summary rows or a real wallet on maker-fill legs. Present only when known.
        side:
          type: string
          enum:
          - BUY
          - SELL
          description: Trade direction (distinct from `outcome`), present only when known.
        yes_price:
          type: number
          description: 'Legacy field: price expressed on the ''yes'' outcome, 0-100 scale, derived from
            `price`/`outcome`.'
          example: 63.0
        no_price:
          type: number
          description: 'Legacy field: price expressed on the ''no'' outcome, 0-100 scale, derived from
            `price`/`outcome`.'
          example: 37.0
        taker_side:
          type: string
          description: Legacy alias, always equal to `outcome`.
          example: 'yes'
    TradesHistoryResponse:
      type: object
      required:
      - trades
      - has_more
      - source
      - coverage_hours
      - indexing
      properties:
        trades:
          type: array
          items:
            $ref: '#/components/schemas/TradesTrade'
        has_more:
          type: boolean
          description: True if more trades exist before the oldest trade in this response (pagination
            via `before`).
        oldest_available_ts:
          type: number
          nullable: true
          description: Unix timestamp (seconds) of the oldest trade Kairos has ingested for this contract,
            or null if unknown.
          example: 1750000000.0
        source:
          type: string
          description: >-
            Opaque internal marker indicating how the response was served.
            NOT a stable part of the contract — its value may change without
            notice; do not depend on or switch on it.
        coverage_hours:
          type: number
          description: Hours of trade history coverage available/considered for this response.
          example: 24.0
        indexing:
          type: boolean
          description: True if ingestion was triggered/in progress for this window (only meaningful with
            `trigger_ingest=true`).
          example: false
    TradesMetricsResponse:
      type: object
      required:
      - metrics
      properties:
        metrics:
          $ref: '#/components/schemas/TradesMetrics'
    TradesKalshiRawTrade:
      type: object
      description: |
        Raw trade object as returned by Kalshi's `GET /trade-api/v2/markets/trades`, passed through unmodified. Fields shown are the ones Kalshi documents/observed in practice; the API does not restrict or re-type them.
      additionalProperties: true
      properties:
        trade_id:
          type: string
        ticker:
          type: string
        count:
          type: integer
          description: Contracts traded.
        created_time:
          type: string
          format: date-time
        yes_price:
          type: integer
          description: 0-100 cents scale.
        no_price:
          type: integer
          description: 0-100 cents scale.
        taker_side:
          type: string
          enum:
          - true
          - false
    TradesKalshiResponse:
      type: object
      description: |
        The raw Kalshi API response object, spread as-is, with a `metrics` field injected by Kairos. Any other fields Kalshi returns (e.g. a pagination `cursor`) pass through unchanged.
      additionalProperties: true
      required:
      - trades
      - metrics
      properties:
        trades:
          type: array
          items:
            $ref: '#/components/schemas/TradesKalshiRawTrade'
        cursor:
          type: string
          description: Upstream pagination cursor, passed through when present.
        metrics:
          $ref: '#/components/schemas/TradesMetrics'
    TradesPolymarketRawTrade:
      type: object
      description: |
        Raw trade object as returned by Polymarket's `GET https://data-api.polymarket.com/trades`, passed through unmodified.
      additionalProperties: true
      properties:
        proxyWallet:
          type: string
        side:
          type: string
          enum:
          - BUY
          - SELL
        asset:
          type: string
          description: Outcome token id.
        conditionId:
          type: string
        size:
          type: number
        price:
          type: number
          description: Upstream price, 0-1 decimal scale (not the 0-100 scale Kairos normalizes to elsewhere).
        timestamp:
          type: integer
          description: Unix seconds.
        transactionHash:
          type: string
        outcome:
          type: string
    TradesPolymarketResponse:
      type: object
      required:
      - trades
      - metrics
      properties:
        trades:
          type: array
          items:
            $ref: '#/components/schemas/TradesPolymarketRawTrade'
        metrics:
          type: object
          additionalProperties: true
          description: |
            A `TradesMetrics` object in the normal case. When `market` could not be resolved to a condition ID, this is a literal empty object `{}` and `trades` is `[]` — no upstream call was made.
    TraderPnlDataPoint:
      type: object
      description: Single point on a trader's realized-PnL time series.
      required:
      - timestamp
      - realized_pnl
      properties:
        timestamp:
          type: string
          format: date-time
          description: UTC timestamp of this data point.
          example: '2026-07-15T00:00:00Z'
        realized_pnl:
          type: string
          format: decimal
          description: Cumulative realized PnL (USD) at this point in time. Serialized as a decimal string.
          example: '1250.4382'
    TraderPnlHistoryResponse:
      type: object
      description: |
        Time-series realized-PnL data for a wallet over a requested time range, plus a summary of the change over that range.
      required:
      - wallet_address
      - time_range
      - data_points
      - start_pnl
      - end_pnl
      - pnl_change
      - current_realized_pnl
      properties:
        wallet_address:
          type: string
          example: '0x1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b'
        time_range:
          type: string
          enum:
          - 1D
          - 1W
          - 1M
          - ALL
          example: 1W
        data_points:
          type: array
          items:
            $ref: '#/components/schemas/TraderPnlDataPoint'
        start_pnl:
          type: string
          format: decimal
          description: Realized PnL at the start of the window.
          example: '800.00'
        end_pnl:
          type: string
          format: decimal
          description: Realized PnL at the end of the window.
          example: '1250.4382'
        pnl_change:
          type: string
          format: decimal
          description: Absolute change in realized PnL over the window (end_pnl - start_pnl).
          example: '450.4382'
        pnl_change_percent:
          type: string
          format: decimal
          nullable: true
          description: Percentage change over the window; null if start_pnl is zero/undefined.
          example: '56.30'
        current_realized_pnl:
          type: string
          format: decimal
          description: Wallet's current total realized PnL (as of now, not bounded to the window).
          example: '1250.4382'
        current_total_pnl:
          type: string
          format: decimal
          nullable: true
          description: Current realized + unrealized PnL combined, when available.
          example: '1875.10'
    TraderPosition:
      type: object
      description: A single current or historical position held by a trader.
      required:
      - market_id
      - token_id
      - outcome
      - size
      - entry_price
      - cost_basis
      - realized_pnl
      - status
      - provider
      properties:
        market_id:
          type: string
          example: 0xabc123condition
        market_name:
          type: string
          nullable: true
          example: Will the Fed cut rates in September?
        icon:
          type: string
          nullable: true
          description: Market icon/image URL.
          example: https://cdn.kairos.trade/markets/abc123.png
        token_id:
          type: string
          example: 10723948572...4
        outcome:
          type: string
          description: Outcome label — YES/NO or a token symbol.
          example: 'YES'
        size:
          type: string
          format: decimal
          description: Position size (>= 0).
          example: '150.0'
        entry_price:
          type: string
          format: decimal
          description: Average entry price (>= 0), 0-1 scale.
          example: '0.42'
        current_price:
          type: string
          format: decimal
          nullable: true
          description: Current mark price (>= 0), 0-1 scale.
          example: '0.55'
        cost_basis:
          type: string
          format: decimal
          description: Total USD cost basis for this position (>= 0).
          example: '63.00'
        unrealized_pnl:
          type: string
          format: decimal
          nullable: true
          example: '19.50'
        realized_pnl:
          type: string
          format: decimal
          description: Realized PnL booked against this position so far.
          example: '0.00'
        status:
          type: string
          enum:
          - OPEN
          - CLOSED
        opened_at:
          type: string
          format: date-time
          nullable: true
        closed_at:
          type: string
          format: date-time
          nullable: true
        provider:
          type: string
          description: Venue the position was traded on.
          default: polymarket
          example: polymarket
    TraderPerformance:
      type: object
      description: Aggregated trader performance metrics, always computed over the full inventory (not
        a paginated page).
      required:
      - wallet_address
      - total_realized_pnl
      - total_unrealized_pnl
      - total_pnl
      - open_positions
      - closed_positions
      - total_positions
      - winning_positions
      - losing_positions
      - win_rate
      - total_volume
      - markets_traded
      - last_updated
      properties:
        wallet_address:
          type: string
          example: '0x1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b'
        total_realized_pnl:
          type: string
          format: decimal
          example: '1250.4382'
        total_unrealized_pnl:
          type: string
          format: decimal
          example: '300.00'
        total_pnl:
          type: string
          format: decimal
          example: '1550.4382'
        roi_percent:
          type: string
          format: decimal
          default: '0'
          example: '12.75'
        open_positions:
          type: integer
          minimum: 0
          example: 4
        closed_positions:
          type: integer
          minimum: 0
          example: 27
        total_positions:
          type: integer
          minimum: 0
          example: 31
        positions_value:
          type: string
          format: decimal
          default: '0'
          description: Cost basis (deployed capital) of OPEN positions, summed over the full inventory.
          example: '420.00'
        winning_positions:
          type: integer
          minimum: 0
          example: 18
        losing_positions:
          type: integer
          minimum: 0
          example: 9
        win_rate:
          type: number
          format: double
          minimum: 0
          maximum: 1
          description: Win rate over closed, resolved positions.
          example: 0.6667
        total_volume:
          type: string
          format: decimal
          minimum: '0'
          example: '18420.55'
        markets_traded:
          type: integer
          minimum: 0
          example: 12
        join_date:
          type: string
          format: date-time
          nullable: true
          description: Polymarket account join date, when known.
        profile_views:
          type: integer
          default: 0
          example: 340
        largest_win:
          type: string
          format: decimal
          nullable: true
          example: '512.30'
        last_updated:
          type: string
          format: date-time
          example: '2026-07-22T14:03:11Z'
    TraderPositionsResponse:
      type: object
      description: |
        A page of a wallet's positions plus performance stats derived from the full inventory in the same scan.
      required:
      - wallet_address
      - performance
      - open_positions
      - closed_positions
      properties:
        wallet_address:
          type: string
          example: '0x1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b'
        performance:
          $ref: '#/components/schemas/TraderPerformance'
        open_positions:
          type: array
          items:
            $ref: '#/components/schemas/TraderPosition'
        closed_positions:
          type: array
          items:
            $ref: '#/components/schemas/TraderPosition'
        has_more:
          type: boolean
          default: false
          description: True when more positions exist beyond this page (open+closed combined, sorted by
            value).
    TraderTradeRecord:
      type: object
      description: A single trade/fill record.
      required:
      - trade_id
      - order_id
      - market_id
      - token_id
      - side
      - size
      - price
      - timestamp
      - provider
      properties:
        trade_id:
          type: string
          example: trd_9f2c3a1b
        order_id:
          type: string
          nullable: true
          description: Parent venue order identifier/hash shared by fills from the same order. For Predict.fun
            this is the venue EIP-712 order hash. Null when the provider or lifecycle row has no authoritative
            venue order identifier. This is not a Kairos order UUID.
          example: 0x9f2a1c...7bd4
        market_id:
          type: string
          example: 0xabc123condition
        market_name:
          type: string
          nullable: true
          example: Will the Fed cut rates in September?
        icon:
          type: string
          nullable: true
          example: https://cdn.kairos.trade/markets/abc123.png
        token_id:
          type: string
          example: 10723948572...4
        outcome:
          type: string
          nullable: true
          example: 'YES'
        side:
          type: string
          enum:
          - BUY
          - SELL
        size:
          type: string
          format: decimal
          description: Trade size (>= 0).
          example: '25.0'
        price:
          type: string
          format: decimal
          description: Fill price (>= 0), 0-1 scale.
          example: '0.47'
        timestamp:
          type: string
          format: date-time
          example: '2026-07-20T09:14:02Z'
        tx_hash:
          type: string
          nullable: true
          example: 0xfeedface...beef
        realized_pnl:
          type: string
          format: decimal
          nullable: true
          description: Realized PnL booked by this fill (populated for SELLs from the FIFO ledger; null/0
            for BUYs).
          example: '3.75'
        provider:
          type: string
          default: polymarket
          example: polymarket
    TraderRecentTradesResponse:
      type: object
      description: |
        A standalone page of trade history, served independently of the full profile build.
      required:
      - wallet_address
      - trades
      properties:
        wallet_address:
          type: string
          example: '0x1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b'
        trades:
          type: array
          items:
            $ref: '#/components/schemas/TraderTradeRecord'
        has_more:
          type: boolean
          default: false
    TraderTopHolder:
      type: object
      description: A single holder of a market's outcome token.
      required:
      - proxyWallet
      - amount
      - outcomeIndex
      - displayUsernamePublic
      - verified
      properties:
        proxyWallet:
          type: string
          description: Holder's wallet address.
          example: '0x1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b'
        amount:
          type: number
          format: double
          description: Token amount held.
          example: 15230.5
        outcomeIndex:
          type: integer
          description: Index of the outcome token held (0 = first outcome, 1 = second, ...).
          example: 0
        displayUsernamePublic:
          type: boolean
          description: Whether the holder has opted to publicly display their username.
        verified:
          type: boolean
          description: Whether the holder has a verified badge.
        name:
          type: string
          description: Present only when the provider returned a display name.
          example: whale_trader_99
        pseudonym:
          type: string
          example: SilentOwl-4821
        bio:
          type: string
          example: Prediction market degen.
        asset:
          type: string
          description: Underlying asset identifier for the held token, when the provider supplies one.
        profileImage:
          type: string
          example: https://cdn.polymarket.com/avatars/abc.png
        profileImageOptimized:
          type: string
          example: https://cdn.polymarket.com/avatars/abc-opt.png
    TraderTopHoldersToken:
      type: object
      description: Top holders for a single outcome token.
      required:
      - token
      - holders
      properties:
        token:
          type: string
          description: Outcome token id.
          example: 10723948572...4
        holders:
          type: array
          items:
            $ref: '#/components/schemas/TraderTopHolder'
    TraderTopHoldersResponse:
      type: array
      description: |
        Top holders grouped by outcome token, one entry per requested market/token combination returned by the provider. The endpoint returns this array directly as the response body (not wrapped in an object).
      items:
        $ref: '#/components/schemas/TraderTopHoldersToken'
    TraderSearchUserInfo:
      type: object
      description: An associated Polymarket user record linked to a profile (e.g. multi-role accounts).
      required:
      - id
      - creator
      - mod
      properties:
        id:
          type: string
          example: usr_polymarket_884211
        creator:
          type: boolean
          description: Whether this user record has market-creator privileges.
        mod:
          type: boolean
          description: Whether this user record has moderator privileges.
    TraderSearchProfile:
      type: object
      description: Public trader profile fields returned by the upstream provider.
      required:
      - displayUsernamePublic
      - verifiedBadge
      - users
      properties:
        proxyWallet:
          type: string
          nullable: true
          example: '0x1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b'
        name:
          type: string
          nullable: true
          example: Jane Trader
        pseudonym:
          type: string
          nullable: true
          example: QuietFalcon-2201
        bio:
          type: string
          nullable: true
          example: Macro and elections.
        profileImage:
          type: string
          nullable: true
          example: https://cdn.polymarket.com/avatars/jane.png
        xUsername:
          type: string
          nullable: true
          example: janetrades
        verifiedBadge:
          type: boolean
        displayUsernamePublic:
          type: boolean
        createdAt:
          type: string
          format: date-time
          nullable: true
          example: '2023-11-02T18:20:44Z'
        users:
          type: array
          items:
            $ref: '#/components/schemas/TraderSearchUserInfo'
    TraderSearchResponse:
      type: object
      description: |
        Result of a trader-profile search. `profile` is null (with `error` populated) when the provider found no profile for the address.
      required:
      - provider
      - address
      - profile
      - error
      properties:
        provider:
          type: string
          example: polymarket
        address:
          type: string
          example: '0x1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b'
        profile:
          allOf:
          - $ref: '#/components/schemas/TraderSearchProfile'
          nullable: true
        error:
          type: string
          nullable: true
          description: Provider-supplied error message when no profile was found.
          example: null
    PnlProviderInfo:
      type: object
      description: A PnL provider available through the merged-PnL pipeline.
      required:
      - name
      - description
      properties:
        name:
          type: string
          example: polymarket
        description:
          type: string
          example: Polymarket prediction market PnL
    PnlExchangeSummary:
      type: object
      description: Per-exchange PnL summary within a merged PnL response.
      required:
      - provider
      - wallet_address
      - total_realized_pnl
      - total_fees
      - total_cost_basis
      - winning_positions
      - losing_positions
      properties:
        provider:
          type: string
          example: polymarket
        wallet_address:
          type: string
          example: '0x1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b'
        total_realized_pnl:
          type: number
          format: double
          example: 1250.4382
        total_fees:
          type: number
          format: double
          example: 12.5
        total_cost_basis:
          type: number
          format: double
          example: 8400.0
        winning_positions:
          type: integer
          example: 18
        losing_positions:
          type: integer
          example: 9
    PnlSummary:
      type: object
      description: Merged PnL summary across all providers/wallets supplied for a user.
      required:
      - user_id
      - total_realized_pnl
      - total_fees
      - total_cost_basis
      - total_winning_positions
      - total_losing_positions
      - by_exchange
      properties:
        user_id:
          type: string
          example: usr_9f3c2a1b
        total_realized_pnl:
          type: number
          format: double
          example: 1875.1
        total_fees:
          type: number
          format: double
          example: 18.2
        total_cost_basis:
          type: number
          format: double
          example: 12400.0
        total_winning_positions:
          type: integer
          example: 25
        total_losing_positions:
          type: integer
          example: 11
        by_exchange:
          type: object
          description: Keyed by provider name.
          additionalProperties:
            $ref: '#/components/schemas/PnlExchangeSummary'
    PnlRecord:
      type: object
      description: A single merged PnL record.
      required:
      - provider
      - market_id
      - timestamp
      - realized_pnl
      - fees
      properties:
        provider:
          type: string
          example: polymarket
        market_id:
          type: string
          example: 0xabc123condition
        timestamp:
          type: string
          description: ISO-8601 timestamp string (empty string if the underlying record has no timestamp).
          example: '2026-07-20T09:14:02+00:00'
        realized_pnl:
          type: number
          format: double
          example: 24.15
        fees:
          type: number
          format: double
          example: 0.35
    PnlUserPnlResponse:
      type: object
      description: |
        Full merged PnL response for a user, across the requested wallets/providers.
      required:
      - user_id
      - summary
      - records
      - filters_applied
      properties:
        user_id:
          type: string
          example: usr_9f3c2a1b
        summary:
          $ref: '#/components/schemas/PnlSummary'
        records:
          type: array
          items:
            $ref: '#/components/schemas/PnlRecord'
        filters_applied:
          type: object
          description: Echoes the effective filters used to build this response (wallets, providers, etc.).
          additionalProperties: true
        total:
          type: integer
          default: 0
          description: |
            Count of merged records the aggregator returned before pagination slicing, bounded by the per-provider fetch ceiling (min(limit+offset, 1000)) — not an authoritative full-history count.
          example: 143
        has_more:
          type: boolean
          default: false
          description: True only when the aggregator definitively saw more records than this page returned.
    PnlWalletMarketTokenPnL:
      type: object
      description: Per-token PnL row within a wallet/market hover payload.
      required:
      - token_id
      - outcome
      - balance
      - avg_entry_price
      - cost_basis_usd
      - realized_pnl_usd
      - mark_price
      - position_value_usd
      - unrealized_pnl_usd
      properties:
        token_id:
          type: string
          example: 10723948572...4
        outcome:
          type: string
          example: 'YES'
        balance:
          type: number
          format: double
          example: 150.0
        avg_entry_price:
          type: number
          format: double
          example: 0.42
        cost_basis_usd:
          type: number
          format: double
          example: 63.0
        realized_pnl_usd:
          type: number
          format: double
          example: 0.0
        mark_price:
          type: number
          format: double
          example: 0.55
        position_value_usd:
          type: number
          format: double
          example: 82.5
        unrealized_pnl_usd:
          type: number
          format: double
          example: 19.5
    PnlWalletMarketPnlResponse:
      type: object
      description: |
        Live hover-on-wallet PnL for a single (wallet, market) pair. Returns a zeroed/empty payload (`tokens: []`) instead of erroring when the underlying PnL pipeline is disabled.
      required:
      - provider_id
      - wallet_address
      - contract_id
      - tokens
      - total_unrealized_pnl_usd
      - total_realized_pnl_usd
      - total_position_value_usd
      properties:
        provider_id:
          type: string
          enum:
          - polymarket
          - opinion
          - predictfun
          example: polymarket
        wallet_address:
          type: string
          example: '0x1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b'
        contract_id:
          type: string
          example: 0xabc123condition
        tokens:
          type: array
          items:
            $ref: '#/components/schemas/PnlWalletMarketTokenPnL'
        total_unrealized_pnl_usd:
          type: number
          format: double
          example: 19.5
        total_realized_pnl_usd:
          type: number
          format: double
          example: 0.0
        total_position_value_usd:
          type: number
          format: double
          example: 82.5
    PnlWalletTotalsResponse:
      type: object
      description: |
        Wallet-wide PnL totals across all markets, refreshed hourly. Returns a zeroed payload (`market_count: 0`, `token_count: 0`) instead of erroring when the underlying PnL pipeline is disabled.
      required:
      - provider_id
      - wallet_address
      - total_unrealized_pnl_usd
      - total_realized_pnl_usd
      - total_position_value_usd
      - total_cost_basis_usd
      - market_count
      - token_count
      - snapshot_ts
      properties:
        provider_id:
          type: string
          enum:
          - polymarket
          - opinion
          - predictfun
          example: polymarket
        wallet_address:
          type: string
          example: '0x1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b'
        total_unrealized_pnl_usd:
          type: number
          format: double
          example: 340.2
        total_realized_pnl_usd:
          type: number
          format: double
          example: 1250.4382
        total_position_value_usd:
          type: number
          format: double
          example: 980.0
        total_cost_basis_usd:
          type: number
          format: double
          example: 640.0
        market_count:
          type: integer
          example: 12
        token_count:
          type: integer
          example: 19
        snapshot_ts:
          type: string
          format: date-time
          description: ISO-8601 timestamp of the hourly snapshot this data was read from (or the current
            time when native_pnl_pipeline is disabled).
          example: '2026-07-22T13:00:00Z'
    SearchBadRequestError:
      type: object
      description: FastAPI `HTTPException(400)` body shape used across the search router.
      required:
      - detail
      properties:
        detail:
          type: string
          example: 'Invalid provider: acme'
    DiscoverBadRequestError:
      type: object
      description: FastAPI `HTTPException(400)` body shape used across the discover router.
      required:
      - detail
      properties:
        detail:
          type: string
          example: 'Invalid sort_by: bogus. Must be one of: [''liquidity'', ''newest'', ''price'', ''rewards'',
            ''volume'', ''volume_1h'', ''volume_24h'']'
    ProvidersNotFoundError:
      type: object
      required:
      - detail
      properties:
        detail:
          type: string
          example: Provider 'acme' not found
    SearchResult:
      type: object
      description: One market or event row from search results, post provider-visibility
        filtering.
      required:
      - market_id
      - provider_id
      - provider
      - relevance_score
      properties:
        market_id:
          type: string
          example: KXPRES-28-DJT
        provider_id:
          type: integer
          description: Numeric provider id (1=kalshi, 2=polymarket, 3=opinion, 8=predictfun).
          example: 1
        provider:
          type: string
          example: kalshi
        event_id:
          type: string
          nullable: true
        event_name:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
          description: Market title.
        symbol:
          type: string
          nullable: true
        category:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
          example: open
        expires_at:
          type: string
          format: date-time
          nullable: true
        relevance_score:
          type: number
          description: Composite final score = text_score + business_score - penalty.
        volume_24h:
          type: number
          default: 0
        outcome_label:
          type: string
          nullable: true
        series_key:
          type: string
          nullable: true
          description: Polymarket seriesSlug or Kalshi series_ticker.
        series_title:
          type: string
          nullable: true
        text_score:
          type: number
          default: 0
        business_score:
          type: number
          default: 0
        penalty:
          type: number
          default: 0
          minimum: 0
        price:
          type: number
          nullable: true
        volume_1h:
          type: number
          default: 0
        liquidity:
          type: number
          default: 0
        image:
          type: string
          nullable: true
        icon:
          type: string
          nullable: true
        type:
          type: string
          enum:
          - event
          nullable: true
          description: Only present (and only ever "event") on rows returned by /search/markets-and-events
            when type=event or both.
    SearchMeta:
      type: object
      properties:
        query:
          type: string
        returned:
          type: integer
          description: Number of rows in `results` after provider-visibility filtering.
        requested:
          type: integer
          description: The `limit` that was requested.
        query_time_ms:
          type: number
        include_expired:
          type: boolean
        provider_id:
          type: string
          nullable: true
          description: Resolved/validated provider filter, or null if none.
    SearchMarketsResponse:
      type: object
      required:
      - results
      - meta
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/SearchResult'
        meta:
          $ref: '#/components/schemas/SearchMeta'
    SearchMarketsAndEventsMeta:
      type: object
      properties:
        query:
          type: string
        returned:
          type: integer
        requested:
          type: integer
          description: The `limit` that was requested.
        search_type:
          type: string
          enum:
          - market
          - event
          - both
        include_expired:
          type: boolean
        provider_id:
          type: string
          nullable: true
    SearchMarketsAndEventsResponse:
      type: object
      required:
      - results
      - meta
      properties:
        results:
          type: array
          description: Merged market + event rows, sorted by relevance_score descending, truncated to
            limit.
          items:
            $ref: '#/components/schemas/SearchResult'
        meta:
          $ref: '#/components/schemas/SearchMarketsAndEventsMeta'
    SearchEventGroup:
      type: object
      description: One event's outcome markets, grouped server-side.
      required:
      - event_id
      - market_count
      - markets
      properties:
        event_id:
          type: string
        event_name:
          type: string
          nullable: true
        market_count:
          type: integer
          description: Count of markets kept after provider-visibility filtering.
        representative:
          allOf:
          - $ref: '#/components/schemas/SearchResult'
          nullable: true
          description: Falls back to the first remaining market if the original representative's provider
            was filtered out.
        markets:
          type: array
          items:
            $ref: '#/components/schemas/SearchResult'
    SearchOutcomeRef:
      type: object
      description: One outcome within a classified MarketGroup (interactive ladder).
      properties:
        id:
          type: string
        provider:
          type: string
        title:
          type: string
          nullable: true
        outcomeLabel:
          type: string
          nullable: true
        tokenId:
          type: string
          nullable: true
        price:
          type: number
          nullable: true
        op:
          type: string
          nullable: true
          description: Comparison operator this outcome represents on the group's axis, e.g. '>=', '<'.
        value:
          type: number
          nullable: true
          description: Threshold value on the group's axis.
        hi:
          type: number
          nullable: true
          description: Upper bound, for range-shaped outcomes.
    SearchMarketGroup:
      type: object
      description: An "interactive ladder" grouping of related markets (e.g. a set of over/under threshold
        markets on one axis), pre-computed by a background job and served from cache at search
        time.
      required:
      - type
      - groupKey
      - provider
      - outcomes
      properties:
        type:
          type: string
          enum:
          - group
        groupKey:
          type: string
        provider:
          type: string
        title:
          type: string
          nullable: true
        kind:
          type: string
          nullable: true
          description: Classification kind, e.g. threshold ladder.
        axisLabel:
          type: string
          nullable: true
        unit:
          type: string
          nullable: true
        direction:
          type: string
          nullable: true
        confidence:
          type: number
          description: Rounded to 3 decimal places.
        marketCount:
          type: integer
        category:
          type: string
          nullable: true
        image:
          type: string
          nullable: true
        icon:
          type: string
          nullable: true
        eventId:
          type: string
          nullable: true
        eventTitle:
          type: string
          nullable: true
        outcomes:
          type: array
          items:
            $ref: '#/components/schemas/SearchOutcomeRef'
    SearchCorrelationCounterpart:
      type: object
      description: A cross-venue market judged similar (similarity at or above a threshold) to the
        keyed result market_id. Enrichment fields (title/ticker/image/icon/expires_at) are only present
        when the counterpart market's metadata is available; otherwise they're absent.
      required:
      - provider_id
      - market_id
      - similarity
      - method
      properties:
        provider_id:
          type: integer
        market_id:
          type: string
        similarity:
          type: number
          minimum: 0
          maximum: 1
        method:
          type: string
          description: How the correlation was derived, e.g. embedding/manual.
        title:
          type: string
        ticker:
          type: string
        image:
          type: string
          nullable: true
        icon:
          type: string
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true
    SearchSimpleMeta:
      type: object
      properties:
        query:
          type: string
        returned:
          type: integer
          description: Count of results after provider-visibility filtering.
        query_time_ms:
          type: number
        total:
          type: integer
          nullable: true
          description: 'Present only when include_total=true. Best-effort: the upstream total if no rows
            were filtered by visibility, else the filtered count.'
    SearchSimpleResponse:
      type: object
      description: Shared envelope for /search/simple and /search/resolve-url. Both always include results/meta;
        groups/singles appear only when the underlying search was grouped (always true for /search/simple
        with group_results=true, and for /search/resolve-url on an event URL). classifiedGroups/absorbedMarketIds
        are only ever attached by /search/simple (group_results=true); /search/resolve-url never sets
        them. correlations is attached by both, best-effort, and absent if no counterpart markets were
        found.
      required:
      - results
      - meta
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/SearchResult'
        groups:
          type: array
          items:
            $ref: '#/components/schemas/SearchEventGroup'
        singles:
          type: array
          items:
            $ref: '#/components/schemas/SearchResult'
        meta:
          $ref: '#/components/schemas/SearchSimpleMeta'
        classifiedGroups:
          type: array
          items:
            $ref: '#/components/schemas/SearchMarketGroup'
        absorbedMarketIds:
          type: array
          items:
            type: string
          description: Market/outcome ids already rendered inside classifiedGroups — the overlay should
            not also render them as standalone rows.
        correlations:
          type: object
          description: Map of result market_id -> up to 4 similar cross-venue counterpart markets, sorted
            by similarity descending.
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/SearchCorrelationCounterpart'
    SearchSuggestion:
      type: object
      required:
      - text
      - type
      - frequency
      properties:
        text:
          type: string
          description: Suggested query text (market/series/category name).
        type:
          type: string
          description: Suggestion source type, e.g. market, category.
        frequency:
          type: integer
          description: May be an aggregated count, or always 1, depending on how the suggestion
            was generated.
    SearchSuggestResponse:
      type: object
      required:
      - suggestions
      - meta
      properties:
        suggestions:
          type: array
          items:
            $ref: '#/components/schemas/SearchSuggestion'
        meta:
          type: object
          properties:
            query:
              type: string
            returned:
              type: integer
    ScreenerMarket:
      type: object
      description: One screener hit — the market, and the outcome the screen matched on. Prices and
        spread are cents; money is dollars.
      required:
      - id
      - marketId
      - provider
      properties:
        id:
          type: string
          description: The id this market's book is published under. For Polymarket that is the
            venue condition id, not the market id search returns — see `marketId`.
        marketId:
          type: string
          nullable: true
          description: The id to address this market by everywhere else — the terminal, the
            market-data websocket, the trades API. Always present, and equal to `id` on every
            venue keyed by its market id. Null only on a Polymarket row the metadata cache could
            not resolve; a null row cannot be opened, and `id` is not a substitute for it.
        provider:
          type: string
        title:
          type: string
          nullable: true
          description: Null when the discover cache has never seen this market, alongside `hasMetadata`
            false. Presenting that — usually as the id — is the client's call.
        eventTitle:
          type: string
          nullable: true
        image:
          type: string
          nullable: true
        icon:
          type: string
          nullable: true
        category:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
        hasMetadata:
          type: boolean
          description: False when only live numbers are known and the title is the id.
        outcomeIndex:
          type: integer
          nullable: true
          description: The outcome the quote figures below describe.
        matchedLeg:
          type: boolean
          description: True when the screen picked this outcome. False when the screen was contract-level
            only and this is just the primary outcome.
        outcomeName:
          type: string
          nullable: true
        bid:
          type: number
          nullable: true
          description: Cents.
        ask:
          type: number
          nullable: true
          description: Cents.
        mid:
          type: number
          nullable: true
          description: Cents.
        spread:
          type: number
          nullable: true
          description: Cents wide on this outcome; null when it is not quoting both sides.
        price:
          type: number
          description: Cents; the record's headline price.
        volume24h:
          type: number
          description: Dollars.
        volume1h:
          type: number
          description: Dollars.
        liquidity:
          type: number
          description: Dollars resting across every outcome, both sides.
        outcomeLiquidity:
          type: number
          nullable: true
          description: Dollars resting on this outcome alone, both sides.
        bookAgeSeconds:
          type: number
          nullable: true
          description: Seconds since this leg's top of book was published; null when it never has been.
            A large value means nothing is streaming this market.
        openInterest:
          type: number
          description: Contracts.
        openInterestNotional:
          type: number
          description: Dollars.
        updatedAt:
          type: string
          format: date-time
    ScreenerResponse:
      type: object
      required:
      - markets
      - total
      - available
      properties:
        markets:
          type: array
          items:
            $ref: '#/components/schemas/ScreenerMarket'
        total:
          type: integer
          description: Matches before paging. **-1** means the ordered walk stopped at the page bound
            and the rest were not counted — render it as "top N", not as a count.
        available:
          type: boolean
          description: False when the live vitals service could not be reached. Distinct from a screen
            that matched nothing, which is available with an empty `markets`.
        plan:
          type: string
          description: How the scan ran (`index_ordered`, `index_range`, `scan`). Diagnostic.
        limit:
          type: integer
        offset:
          type: integer
    ScreenerPreset:
      type: object
      required:
      - id
      - label
      - description
      - params
      properties:
        id:
          type: string
        label:
          type: string
        description:
          type: string
        params:
          type: object
          description: Query parameters for /search/screener, including `sort`.
          additionalProperties: true
    ScreenerPresetsResponse:
      type: object
      required:
      - presets
      - sorts
      properties:
        presets:
          type: array
          items:
            $ref: '#/components/schemas/ScreenerPreset'
        sorts:
          type: array
          items:
            type: string
    DiscoverMarketOutcome:
      type: object
      description: One outcome market inside a grouped (isGrouped=true) DiscoverMarket, as returned by
        /api/markets/discover/v2.
      properties:
        id:
          type: string
        ticker:
          type: string
        title:
          type: string
        outcomeLabel:
          type: string
        price:
          type: number
          description: Cents/100.
        volume:
          type: number
        volumeTotal:
          type: number
          description: Same value as volume.
        volume24h:
          type: number
        volume1h:
          type: number
        token_id:
          type: string
          nullable: true
        condition_id:
          type: string
          nullable: true
        rewardRate:
          type: number
    DiscoverMarket:
      type: object
      description: One row of /api/markets/discover/v2's `markets` array. When isGrouped=true this represents
        an event with its outcomes nested (eventTitle + outcomes populated, outcomeLabel/yes_sub_title/
        no_sub_title/token_id/condition_id absent at the top level); when isGrouped=false it's a single
        standalone market (outcomeLabel/ yes_sub_title/no_sub_title/token_id/condition_id populated, eventTitle/outcomes
        absent).
      required:
      - id
      - ticker
      - title
      - price
      - provider
      - status
      - isGrouped
      properties:
        id:
          type: string
        ticker:
          type: string
        event_id:
          type: string
          nullable: true
        eventTitle:
          type: string
          description: Grouped rows only.
        title:
          type: string
        outcomeLabel:
          type: string
          nullable: true
          description: Single (isGrouped=false) rows only.
        yes_sub_title:
          type: string
          nullable: true
          description: Single rows only.
        no_sub_title:
          type: string
          nullable: true
          description: Single rows only.
        price:
          type: number
          description: Cents/100.
        volume:
          type: number
        volume24h:
          type: number
        volume1h:
          type: number
        liquidity:
          type: number
        rewardRate:
          type: number
        provider:
          type: string
        status:
          type: string
        expiration:
          type: string
          format: date-time
          nullable: true
        token_id:
          type: string
          nullable: true
          description: Single rows only.
        condition_id:
          type: string
          nullable: true
          description: Single rows only.
        category:
          type: string
          nullable: true
        image:
          type: string
          nullable: true
        icon:
          type: string
          nullable: true
        isGrouped:
          type: boolean
        outcomes:
          type: array
          description: Grouped rows only.
          items:
            $ref: '#/components/schemas/DiscoverMarketOutcome'
    DiscoverV2Response:
      type: object
      required:
      - markets
      - total
      - offset
      - limit
      - timestamp
      properties:
        markets:
          type: array
          items:
            $ref: '#/components/schemas/DiscoverMarket'
        total:
          type: integer
        offset:
          type: integer
        limit:
          type: integer
        timestamp:
          type: string
          description: ISO timestamp of the underlying cache build; empty string when the response
            falls back to a live query, or on the empty-filter short-circuit path.
    DiscoverSearchIndexOutcome:
      type: object
      description: One outcome market inside a grouped search-index entry. Distinct field set from DiscoverMarketOutcome
        (no `volume`/`condition_id`; adds `token_id`).
      properties:
        id:
          type: string
        title:
          type: string
        ticker:
          type: string
        price:
          type: number
        volume1h:
          type: number
        volume24h:
          type: number
        volumeTotal:
          type: number
        outcomeLabel:
          type: string
        token_id:
          type: string
          nullable: true
        rewardRate:
          type: number
    DiscoverSearchIndexMarket:
      type: object
      description: One row of /api/markets/discover/v2/search-index's `markets` array. Same grouped/single
        split as DiscoverMarket but this shape omits `status`/`event_id` and always includes `token_id`
        at the top level.
      required:
      - id
      - ticker
      - title
      - price
      - provider
      - isGrouped
      properties:
        id:
          type: string
        ticker:
          type: string
        title:
          type: string
        eventTitle:
          type: string
          description: Grouped rows only.
        yes_sub_title:
          type: string
          nullable: true
          description: Single rows only.
        no_sub_title:
          type: string
          nullable: true
          description: Single rows only.
        price:
          type: number
        volume:
          type: number
        volume24h:
          type: number
        volume1h:
          type: number
        liquidity:
          type: number
        rewardRate:
          type: number
        provider:
          type: string
        expiration:
          type: string
          format: date-time
          nullable: true
        category:
          type: string
          nullable: true
        image:
          type: string
          nullable: true
        icon:
          type: string
          nullable: true
        isGrouped:
          type: boolean
        token_id:
          type: string
          nullable: true
        outcomes:
          type: array
          description: Grouped rows only.
          items:
            $ref: '#/components/schemas/DiscoverSearchIndexOutcome'
    DiscoverSearchIndexResponse:
      type: object
      required:
      - markets
      - total
      - timestamp
      properties:
        markets:
          type: array
          items:
            $ref: '#/components/schemas/DiscoverSearchIndexMarket'
        total:
          type: integer
        timestamp:
          type: string
    DiscoverTickerMarket:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        provider:
          type: string
        price:
          type: number
        volume1h:
          type: number
        token_id:
          type: string
          nullable: true
    DiscoverTickerResponse:
      type: object
      required:
      - markets
      - count
      - timestamp
      properties:
        markets:
          type: array
          items:
            $ref: '#/components/schemas/DiscoverTickerMarket'
        count:
          type: integer
        timestamp:
          type: string
    DiscoverBreakingMarket:
      type: object
      properties:
        id:
          type: string
        ticker:
          type: string
        title:
          type: string
        provider:
          type: string
        price:
          type: number
        volume1h:
          type: number
        priceChange24hSigned:
          type: number
          description: Signed percentage/point change over 24h.
        token_id:
          type: string
          nullable: true
        condition_id:
          type: string
          nullable: true
        image:
          type: string
          nullable: true
        icon:
          type: string
          nullable: true
        category:
          type: string
          nullable: true
    DiscoverBreakingResponse:
      type: object
      required:
      - markets
      - count
      - timestamp
      properties:
        markets:
          type: array
          items:
            $ref: '#/components/schemas/DiscoverBreakingMarket'
        count:
          type: integer
        timestamp:
          type: string
    DiscoverExpiringMarket:
      type: object
      properties:
        id:
          type: string
        ticker:
          type: string
        title:
          type: string
        provider:
          type: string
        price:
          type: number
        volume1h:
          type: number
        volume24h:
          type: number
        volume:
          type: number
        expiration:
          type: string
          format: date-time
        token_id:
          type: string
          nullable: true
        condition_id:
          type: string
          nullable: true
        category:
          type: string
          nullable: true
        image:
          type: string
          nullable: true
        icon:
          type: string
          nullable: true
        isGrouped:
          type: boolean
          enum:
          - false
    DiscoverExpiringResponse:
      type: object
      required:
      - markets
      - count
      - timestamp
      properties:
        markets:
          type: array
          items:
            $ref: '#/components/schemas/DiscoverExpiringMarket'
        count:
          type: integer
        timestamp:
          type: string
    DiscoverSubcategory:
      type: object
      required:
      - name
      - slug
      - count
      properties:
        name:
          type: string
        slug:
          type: string
        count:
          type: integer
          description: Approximate active-market count (topic ∩ subtopic ∩ active-ranked-set); may run
            slightly higher than the post-grouping total shown on the cards page.
    DiscoverSubcategoriesResponse:
      type: object
      required:
      - category
      - subcategories
      properties:
        category:
          type: string
        subcategories:
          type: array
          items:
            $ref: '#/components/schemas/DiscoverSubcategory'
          description: Sorted by count descending; zero-count subtopics are omitted.
    DiscoverKalshiSportsEvent:
      type: object
      description: A cached Kalshi sports event object written by a background job. Only the fields
        this router reads are typed; the object may carry additional passthrough fields.
      properties:
        event_ticker:
          type: string
        total_volume:
          type: number
        market_count:
          type: integer
      additionalProperties: true
    DiscoverKalshiMatchedGame:
      type: object
      required:
      - away
      - home
      - league
      - kalshi_events
      - total_volume
      - total_markets
      properties:
        away:
          type: string
          description: Uppercased team code.
        home:
          type: string
          description: Uppercased team code.
        league:
          type: string
          description: Lowercased league code
          or empty string if not supplied.: null
        kalshi_events:
          type: array
          items:
            $ref: '#/components/schemas/DiscoverKalshiSportsEvent'
          description: Sorted by total_volume descending.
        total_volume:
          type: number
        total_markets:
          type: integer
    DiscoverKalshiLiveResponse:
      type: object
      required:
      - events
      - matched
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/DiscoverKalshiSportsEvent'
          description: All cached events (unfiltered).
        matched:
          type: array
          items:
            $ref: '#/components/schemas/DiscoverKalshiMatchedGame'
          description: Empty unless `games` was supplied and matched at least one event.
    DiscoverTrendingMarket:
      type: object
      properties:
        id:
          type: string
        ticker:
          type: string
          description: Same value as id.
        title:
          type: string
        price:
          type: number
        volume:
          type: number
          description: Total volume (TrendingMarket.volume_total).
        volume1h:
          type: number
        provider:
          type: string
        outcomeLabel:
          type: string
          nullable: true
        event_id:
          type: string
          nullable: true
    DiscoverTrendingResponse:
      type: object
      required:
      - markets
      - count
      - timestamp
      properties:
        markets:
          type: array
          items:
            $ref: '#/components/schemas/DiscoverTrendingMarket'
        count:
          type: integer
        timestamp:
          type: string
    ProvidersConfig:
      type: object
      description: Exchange-agnostic provider configuration.
      required:
      - id
      - display_name
      - icon_url
      - chain_id
      - chain_name
      - is_active
      - supported_order_types
      - supports_walk_the_book
      - supports_token_approval
      - has_multi_token_markets
      - auth_flow_type
      properties:
        id:
          type: string
          example: kalshi
          description: '''kalshi'' | ''polymarket'' | ''predictfun'' | ''hyperliquid'' | ...'
        display_name:
          type: string
          example: Kalshi
        icon_url:
          type: string
        chain_id:
          type: string
        chain_name:
          type: string
        is_active:
          type: boolean
        supported_order_types:
          type: array
          items:
            type: string
          example:
          - limit
          - market
        supports_walk_the_book:
          type: boolean
        supports_token_approval:
          type: boolean
        has_multi_token_markets:
          type: boolean
        auth_flow_type:
          type: string
          enum:
          - none
          - wallet_signature
          - api_key
        token_id_format:
          type: string
          enum:
          - opaque
          - clob_uint256
          default: opaque
        metadata_key_type:
          type: string
          enum:
          - marketId
          - conditionId
          default: marketId
        numeric_id:
          type: integer
          nullable: true
        primary_color:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: true
    ProvidersConfigsResponse:
      type: object
      required:
      - configs
      - meta
      properties:
        configs:
          type: array
          items:
            $ref: '#/components/schemas/ProvidersConfig'
        meta:
          type: object
          required:
          - count
          properties:
            count:
              type: integer
    ProvidersAPIAccessResponse:
      type: object
      required:
      - providers
      - meta
      properties:
        providers:
          type: array
          description: Active provider ids whose API-key access is enabled.
          items:
            type: string
          example:
          - hyperliquid
          - kalshi
          - polymarket
        meta:
          type: object
          required:
          - count
          properties:
            count:
              type: integer
              example: 3
    SportsTrendingMatchedResponse:
      type: object
      description: Top matched sports markets ranked by live Kalshi volume.
      required:
      - matches
      - count
      properties:
        matches:
          type: array
          items:
            $ref: '#/components/schemas/SportsTrendingMatch'
        count:
          type: integer
          description: Number of items in matches (after truncation to limit).
          example: 5
    SportsTrendingMatch:
      type: object
      required:
      - slug
      - title
      - image
      - icon
      - volume1h
      - polymarket
      - kalshi
      properties:
        slug:
          type: string
          description: Game slug, used as the matching-cache key.
          example: nba-lal-bos-2026-01-15
        title:
          type: string
          description: Human-readable game title, from the matching cache.
          example: Lakers vs Celtics
        image:
          type:
          - string
          - 'null'
          description: Always null — not populated by this endpoint.
        icon:
          type:
          - string
          - 'null'
          description: Always null — not populated by this endpoint.
        volume1h:
          type: number
          format: double
          description: Kalshi 1h (or total, as fallback) volume used for ranking, from the discover cache.
          example: 48213.5
        polymarket:
          $ref: '#/components/schemas/SportsTrendingMatchPolymarketSide'
[...]
